importFrom(stats,predict)
S3method(predict,SSLfmm)
S3method(print,SSLfmm)
S3method(summary,SSLfmm)
export(classification_performance)
export(fit_sslfmm)
export(initialize_sslfmm)
export(rmix)
export(simulate_mixed_missingness)
export(simulate_sslfmm)
